body {
    background-color: rgb(64, 63, 63);
    justify-content: center;
    align-items: center;
}

.styling {
    color: white;
    justify-content: center;
    align-items: center;
}

.error {
    color: red;
}